@import '../scss/colours';

.header {
  height: 8vh;
  background-color: $light-background-color;

  &-logo {
    width: 38px;
    height: 38px;
    margin: 0 15px 0 0;
  }

  &-search {
    &-field {
      display: flex;
    }
    position: relative;

    padding: 8px 15px;
    border-radius: 5px;

    width: 25vw;
    font-size: 1.75em;

    background-color: $lighter-background-color;

    transition: all 0.25s;

    border: none;
    cursor: text;
    outline: none;

    color: $text-color;

    &:focus {
      background-color: $text-color;
      color: $background-color;
    }
  }

  &-title {
    font-size: 1.5em;
  }
}
