@import '../scss/colours';

.header {
  height: 6vh;
  background-color: $light-background-color;

  &-logo {
    width: 42px;
    height: 42px;
    margin: 0 15px 0 0;
  }

  &-title {
    font-size: 1.75em;
  }
}

.button {
  padding: 8px 25px;
  color: $text-color;
  background-color: $light-background-color;
  outline: none;
  border: none;
  cursor: pointer;
  border: 2px solid $text-color;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 600;

  transition: all 0.25s;

  &:hover {
    background-color: $text-color;
    color: $light-background-color;
  }
}
