$background-color: #121212;

$text-color: #ccf5dc;

$blue-color: #00a6ed;

$light-background-color: lighten($background-color, 10%);
$lighter-background-color: lighten($background-color, 25%);
